@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: #EC4899;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.hero-img {
    margin: auto;
    max-width: 500px;
    display: block;
    margin-bottom: -0%;
    margin-top: 0%;
    width: 50%;
}

.section {
    margin: auto;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
    width: 70%;
}

#blog-h1 {
    margin-top: 0%;
    margin-bottom: 0.5;
    width: 100%;
    padding: 2rem;
    font-size: 4rem;
    background-image: url(./images/dsm.png);
    background-size: auto;
    color: black;
}

.music-blog {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-line {
    background-color: lightblue;
    height: 2000px;
    width: 700px;
}

.button {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-left: 0.5rem;
    padding: 2rem;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    font-size: medium;
}

footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: white;
    margin-top: 0;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}