@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --primary-color: #EC4899;
    --dark-gray: #6B7280;
    --light-gray: #E5E7EB;
}

body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #D9ECF2
    #E4FBFF;
    #FDEFEF*/
}

hr {
    margin: 2rem 0;
}


/** containers **/

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.container-center {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.center {
    margin: auto;
    text-align: center;
    width: 70%;
}

.center-left {
    margin: auto;
    text-align: center;
    width: 70%;
    background-color: #FDEFEF;
    padding-bottom: 2rem;
    margin-left: 5%;
}

.center-right {
    margin: auto;
    text-align: center;
    width: 70%;
    margin-right: 5%;
    background-color: #E5E7EB;
    padding-bottom: 2rem;
}


/** links **/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.read-more {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: var(--primary-color);
}


/** look into BEM naming convention for CSS **/


/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}


/** sections **/

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--light-gray);
}


/**footer **/

footer {
    background-color: var(--primary-color);
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
    text-align: center;
    color: white;
    margin-top: 1.5rem;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.blog-img {
    max-width: 300px;
    margin: auto;
}

span {
    color: var(--primary-color);
}

.mark {
    border: solid 2px black;
    color: white;
    background-color: var(--primary-color);
    width: 70px;
    margin: auto;
    margin-top: 0.5rem;
}


/* MEDIA QUERIES */

@media screen and (max-width: 400px) {
    .hero-heading {
        margin-bottom: 0.5rem;
    }
    .project-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .primary-link {
        margin: 0.5rem;
        margin-top: 0;
    }
    .read-more {
        display: block;
    }
    .info {
        text-align: center;
        margin: 1rem;
    }
    .hero-image {
        width: 100%;
    }
    .footer {
        margin-top: 1rem;
    }
    .nav-pills {
        display: flex;
        flex-direction: column;
    }
    .blog-img {
        margin: auto;
        width: 80%;
    }
    .center {
        width: 100%;
    }
    .center h1 {
        margin-bottom: 0;
    }
    .social-links {
        display: grid;
    }
    .container-center {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0;
    }
    .center-left {
        padding-top: 0.5rem;
        width: 80%;
        margin: -2% 0 -2% -2%;
        border-radius: 10%;
        border: solid 2px var(--primary-color);
    }
    .center-left h1,
    .center-right h1 {
        font-size: x-large;
        padding-top: 0 0.2rem 0 0.2rem;
    }
    .center-right {
        border: solid 2px black;
        padding-top: 0.5rem;
        width: 80%;
        margin-right: -2%;
        margin-top: -6.5%;
        margin-bottom: -6.5%;
        border-radius: 10%;
    }
}